body {
  margin: 0;
  padding: 0;
}

.top-bar {
  height: 48px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: white;
  background: rgba(255, 255, 255, 0.7);
}

.hero {
  content: "";
  clear: both;
  display: block;
}
.hero .description {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #ffffff;
}
.hero img {
  width: 100%;
}

#banner {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
