<div class="detail-screen leaf-screen" ng-class="{'ready': isReady }" ng-swipe-right="swiped('right')">
    <div class="top-bar">
        <div class="top-bar-title">
            <h2 ng-bind="meal.title"></h2>
            <p ng-bind="meal.strapline"></p>
        </div>
    </div>
    <div id="detail">
        <div class="main-meal">
            <div class="imagery" ng-style="mealImage"></div>
        </div>
        <div class="scroll-bar">
            <div class="detail-container">
                <ul class="headings">
                    <li class="first-item"><a href="" ng-class="{'on': descriptionToShow == 'about'}" ng-click="swapDesc('about')">Details <span class="triangle"></span></a></li>
                    <li><a href="" ng-class="{'on': descriptionToShow == 'ingredients'}" ng-click="swapDesc('ingredients')">Items <span class="triangle"></span></a></li>
                    <li class="last-item"><a href="" ng-class="{'on': descriptionToShow == 'instructions'}" ng-click="swapDesc('instructions')">Making <span class="triangle"></span></a></li>
                </ul>
                <div class="box" get-height="184">
                    <div class="description">
                        <div class="about" ng-bind-html="meal.about | convertState" ng-if="descriptionToShow == 'about'"></div>
                        <div class="ingredients" ng-bind-html="meal.ingredients | convertState" ng-if="descriptionToShow == 'ingredients'"></div>
                        <div class="instructions" ng-bind-html="meal.instructions | convertState" ng-if="descriptionToShow == 'instructions'"></div>
                    </div>
                </div>
            </div>
        </div>
        <img ng-src="img/{{meal.thumb}}" imageonload="setToReady(meal.thumb)" class="display-none" />
    </div>
</div>