<div class="home">
    <div class="main-meal">
        <div class="imagery" style="background-image: url('img/{{meal.thumb}}')" ng-swipe-right="swiped()">
            <!--<div class="imagery" back-img="img/{{meal.thumb}}">-->
            <h2 class="description">{{meal.title}}</h2>
        </div>
    </div>
    <div class="bottom-bar">
        <a href="">Shop</a>
        <div class="details">
            <a href="">Ingredients</a>
            <a href="">Instructions</a>
        </div>
    </div>
</div>