<div class="home-screen">
    <div class="top-bar">
        <div class="top-bar-title">
            <h2>Featured meals</h2>
            <p><span ng-bind="carouselIndex+1"></span> of <span ng-bind="featured.length"></span></p>
        </div>
    </div>
    <div class="main-meal" ng-swipe-right="swiped('right')" ng-swipe-left="swiped('left')">
        <ul rn-carousel rn-carousel-transition="slide" rn-carousel-duration="300" rn-carousel-buffered rn-carousel-index="carouselIndex" rn-carousel-buffered="true" class="image" ng-class="{'easter-egg': easterEgg}">
            <!-- rn-carousel-auto-slide="7" -->
            <li ng-repeat="meal in featured" ng-click="navigate('/cook/' + meal.id)">
                <div class="imagery" style="background-image: url('img/{{meal.thumb}}')">
                    <h2 class="description">{{meal.title}}</h2>
                </div>
            </li>
        </ul>
    </div>
    <div class="bottom-bar" ng-class="{'blue-banner': blueBanner}">
        <div class="all-meals" ng-click="navigate('/list')">
            <h2>Cook one of {{mealCount}} meals</h2>
            <span class="icon icon-right"></span>
        </div>
        <div class="deal-meals">
            <h2>Or buy one of these deals<span class="banner-count">{{displayMeal + 1}} of {{bannerCount}}</span></h2>
            <ul class="banner">
                <li ng-repeat="deal in deals" ng-show="displayMeal==$index">
                    <a href="">
                        <h3 ng-bind="deal.title"></h3>
                        <p ng-bind="deal.shop"></p>
                    </a>
                </li>
            </ul>
            <a href="" class="btn-list banner-controller" ng-click="bannerBtnClicked()"><span class="icon icon-refresh"></span></a>
        </div>
    </div>
</div>