<div class="hero" ng-controller="homeController">
    <img ng-src="img/{{hero.src}}" />
    <p class="description">{{hero.alt}}</p>
</div>
<a href="#list" class="button">Meals</a>
<div id="banner" ng-controller="homeController">
    <h2>Today's meal deal</h2>
    <ul>
        <li ng-repeat="ad in ads">
            <a href="{{ad.link}}" target="_blank">
                <img ng-src="img/{{ad.banner}}" />
                <span ng-bind="ad.title"></span>
            </a>
        </li>
    </ul>
</div>