<div class="hero" ng-controller="homeController">
    <div class="feature" back-img="img/{{hero.src}}">
        <p class="description">{{hero.alt}}</p>
    </div>
</div>
<div id="banner" ng-controller="homeController">
    <a href="#list" class="button big-button">Meals</a>
    <h2>Today's meal deal</h2>
    <ul>
        <li ng-repeat="ad in ads">
            <a href="{{ad.link}}" target="_blank">
                <img ng-src="img/{{ad.banner}}" />
                <span ng-bind="ad.title"></span>
            </a>
        </li>
    </ul>
</div>