<div class="how-screen">
    <div class="top-bar">
        <div class="top-bar-title">
            <h2>How to use</h2>
            <p>Anyone can cook these meals!</p>
        </div>
    </div>
    <div class="copy">
        <h3>Pounded Yam is a handy mobile reference to cooking quick and easy Nigerian meals.</h3>
        <h4>Cooking meals</h4>
        <p>Simply <a href="" ng-click="navigate('/list')">browse</a> to a particular meal, tap on a meal, click on COOK to see details on cooking time, ingredients and best spots to buy these, steps to ensure a delicious dish and common alternatives.</p>
        <h4>Buying meals</h4>
        <p>Of course not everyone has the time to do this, so we've also got a list of restaurants serving these meals.</p>
        <p>Again on the list of meals, tap on an image, click on BUY and you'll be presented with a list of shops selling that particular meal in a 5 mile radius, depending on you location. You can also pick a different post code if you're ordering for somewhere else.</p>
        <h4>Other things</h4>
        <p>You can of course share meals via social media, rate a dish and tell others about it, or just click on the heart symbol to include the meal into your favorites list.</p>
        <p>Oh and finally, refresh this page or any others if things stop working while suing this app, like the navigation, stupid browser limitations, I knew I should have done this in iOS.</p>
        <h4>Coming soon</h4>
        <ol>
            <li>A Settings screen where the user can change the search radius for restaurants or for ingredients shopping</li>
            <li>In the About screen, of everyday non-Nigerians cooking up these meals, like my buddy Karl Walsh for example, yeah go find him on Facebook.</li>
        </ol>
    </div>
</div>