<ul class="meals-list">
    <li ng-repeat="meal in meals" back-img="img/{{meal.thumb}}" ng-click="itemClicked($event)">
        <div class="cloak">

        </div>
        <div class="bottom-display">
            <h3 ng-bind="meal.title"></h3>
            <div class="buttons">
                <ul>
                    <li><a href="#/cook/{{meal.id}}">Cook</a></li>
                    <li><a href="#/shop/{{meal.id}}">Buy</a></li>
                </ul>
            </div>
        </div>
    </li>
</ul>