<ul class="meals-list" ng-swipe-right="swiped()">
    <li ng-repeat="meal in meals" back-img="img/{{meal.thumb}}" ng-class="{ 'show-buttons': $index == selectedIndex, 'last-item':$last }" ng-click="itemClicked($index, $event)">
        <div class="cloak" id="meal-id-{{$index}}"></div>
        <div class="bottom-bar">
            <h2 ng-bind="meal.title"></h2>
            <div class="buttons">
                <ul class="actions">
                    <li class="first-item"><a ng-click="cookThisMeal(meal.id)">Cook <span class="icon icon-cook"></span></a></li>
                    <li><a ng-click="buyThisMeal(meal.id)">Buy <span class="icon icon-buy"></span></a></li>
                    <li class="last-item"><a ng-click="shareThisMeal()">Share <span class="icon icon-share"></span></a></li>
                </ul>
            </div>
        </div>
    </li>
</ul>